<!-- Merge into android/app/src/main/AndroidManifest.xml if needed. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="CareerPilot" android:icon="@mipmap/ic_launcher">
    <!-- Flutter-generated activity entries stay here. -->
  </application>
</manifest>
